apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
    env: demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
      env: demo
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 480241654602.dkr.ecr.ap-south-1.amazonaws.com/backend-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3500
          env:
            - name: MONGO_CONN_STR
              value: mongodb://mongodb-svc:27017/todo?directConnection=true
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-sec
                  key: password